x-saya-common: &saya-common
  image: ghcr.io/dojoengine/saya:v0.2.2
  environment:
    OUT_JSON: /shared/out.json
  volumes:
    - shared:/shared
  networks: [saya_net]
  restart: "no"

x-katana-common: &katana-common
  image: ghcr.io/dojoengine/katana:v1.7.0-snos.4
  volumes:
    - shared:/shared
  networks: [saya_net]
  restart: "no"
  entrypoint: ["/bin/sh", "-c"]

services:
  katana_bootstrap:
    image: ghcr.io/dojoengine/katana:v1.7.1
    container_name: katana_bootstrap
    command: ["katana", "--http.addr", "0.0.0.0"]
    ports:
      - "5050:5050"
    networks: [saya_net]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:5050 || exit 1"]
      interval: 2s
      timeout: 5s
      retries: 10

  fact-registry-setup:
    <<: *saya-common
    container_name: fact_registry_setup
    depends_on:
      katana_bootstrap:
        condition: service_healthy
    command:
      - saya
      - core-contract
      - --private-key
      - ${PRIVATE_KEY_KATANA0:-0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912}
      - --account-address
      - ${ADDRESS_KATANA0:-0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec}
      - --settlement-chain-id
      - ${CHAIN_ID:-KATANA}
      - --settlement-rpc-url
      - http://katana_bootstrap:5050
      - declare-and-deploy-fact-registry-mock
      - --salt
      - "0x0"

  core_contract_declare:
    <<: *saya-common
    container_name: core_contract_declare
    depends_on:
      katana_bootstrap:
        condition: service_healthy
    command:
      - saya
      - core-contract
      - --private-key
      - ${PRIVATE_KEY_KATANA0:-0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912}
      - --account-address
      - ${ADDRESS_KATANA0:-0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec}
      - --settlement-chain-id
      - ${CHAIN_ID:-KATANA}
      - --settlement-rpc-url
      - http://katana_bootstrap:5050
      - declare

  core_contract_deploy:
    <<: *saya-common
    container_name: core_contract_deploy
    depends_on:
      core_contract_declare:
        condition: service_completed_successfully
    command:
      - saya
      - core-contract
      - --private-key
      - ${PRIVATE_KEY_KATANA0:-0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912}
      - --account-address
      - ${ADDRESS_KATANA0:-0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec}
      - --settlement-chain-id
      - ${CHAIN_ID:-KATANA}
      - --settlement-rpc-url
      - http://katana_bootstrap:5050
      - deploy
      - --salt
      - "0x0"

  core_contract_setup:
    <<: *saya-common
    container_name: core_contract_setup
    depends_on:
      core_contract_deploy:
        condition: service_completed_successfully
      fact-registry-setup:
        condition: service_completed_successfully
    command:
      - saya
      - core-contract
      - --private-key
      - ${PRIVATE_KEY_KATANA0:-0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912}
      - --account-address
      - ${ADDRESS_KATANA0:-0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec}
      - --settlement-chain-id
      - ${CHAIN_ID:-KATANA}
      - --settlement-rpc-url
      - http://katana_bootstrap:5050
      - setup-program
      - --core-contract-address
      - "0x1c8a55203cd99a6bfaf7cd91ae2ad953eff67b584826edab1857ca2e3c5db5d"
      - --chain-id
      - custom
      - --fact-registry-address
      - "0x3eb0d510d1238120bf7f9d176faafe0c7066797a86be985855952f87769d3bd"

  katana_init:
    <<: *katana-common
    container_name: katana_init
    depends_on:
      core_contract_setup:
        condition: service_completed_successfully
    command:
      - |
        katana init \
          --settlement-chain http://katana_bootstrap:5050 \
          --output-path /shared/katana_config \
          --id custom \
          --settlement-contract 0x1c8a55203cd99a6bfaf7cd91ae2ad953eff67b584826edab1857ca2e3c5db5d \
          --settlement-contract-deployed-block 4 \
          --settlement-facts-registry 0x3eb0d510d1238120bf7f9d176faafe0c7066797a86be985855952f87769d3bd

  katana_l3:
    <<: *katana-common
    container_name: katana_l3
    depends_on:
      katana_init:
        condition: service_completed_successfully
    ports:
      - "5051:5050"
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:5050 || exit 1"]
      interval: 2s
      timeout: 5s
      retries: 10
    command:
      - |
        katana --chain /shared/katana_config --http.addr 0.0.0.0

  saya:
    <<: *saya-common
    container_name: saya
    depends_on:
      katana_bootstrap:
        condition: service_healthy
      katana_l3:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        saya persistent start \
          --rollup-rpc http://katana_l3:5050 \
          --settlement-rpc http://katana_bootstrap:5050 \
          --settlement-piltover-address 0x1c8a55203cd99a6bfaf7cd91ae2ad953eff67b584826edab1857ca2e3c5db5d \
          --settlement-account-private-key 0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912 \
          --settlement-account-address 0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec \
          --mock-layout-bridge-program-hash 0x43c5c4cc37c4614d2cf3a833379052c3a38cd18d688b617e2c720e8f941cb8 \
          --mock-snos-from-pie

networks:
  saya_net: {}

volumes:
  shared: {}
